body{
    width: 100%;
    background-color: bisque;
}
nav{
    margin-bottom: 30px;
}

.area{
    margin-top: 400px;
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    
}

.areas{
    width: 50%;
    height: 100%;
    margin: 10px;
}
.areal{
    background-color: orange;
}
.arear{
    background-color: gray;
}
