{% extends 'components/base.html'%}


{% block title %}

WheelSpend | Welcome

{% endblock title %}



{% block area11 %}
    

        <h3>Vehicle Name:</h3>
        <form action="{{url_for('cars')}}" method = "POST">
            <p>Name <input type = "text" name = "Name" /></p>
            <p>City <input type = "text" name = "City" /></p>
            <p>Country <input type = "text" name = "Country" /></p>
            <p><input type = "submit" value = "Submit" /></p>
        </form>
{% endblock area11 %}

{% block area12 %}


        <h3>Vehicle Name:</h3>
        <h3>{{ name }}</h3>
        <h3>{{ city }}</h3>
        <h3>{{ country }}</h3> 


{% endblock area12 %}


</div>



