{% extends 'components/base.html'%}


{% block title %}

WheelSpend API | Welcome

{% endblock title %}
<div>
{% block about %}
<div class="card1 item" style="width: 80rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <br/>
{% endblock about %}

{% block area1 %}
<form class="card2 item">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="ZipCode">Try it out!</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="zip" placeholder="Enter 5 digit ZIP">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock area1 %}

</div>



